.button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #4a4458;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.button.show {
  opacity: 1;
}

.button:hover {
  background-color: #625b71;
  color: #1c1b1f;
}

@media screen and (max-width: 768px) {
  .button {
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 18px;
  }
}
