.skills {
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  background-color: #4a4458;
  border-radius: 12px;
  display: flex;
  padding: 1.2rem;
  align-items: center;
  width: 90vw;
  max-width: var(--max-width);
}

.skills h2 {
  font-size: 1.8rem;
  margin-bottom: 30px;
  justify-content: center;
}

.iconRow {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 10px;
  justify-content: center;
  width: 90%;
  align-content: center;
}

@media screen and (max-width: 768px) {

  .skills h2 {
    margin-top: 10px;
    font-size: 1.5rem;
  }
  .skills {
    padding: 0.5rem;
    width:90vw;
  }
}
