.skills {
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    background-color: #4a4458;
    border-radius: 12px;
    display: flex;
    padding: 1rem;
    align-items: center;
    width: 100%;
  }
  
  .skills h2 {
    font-size: 1.8rem;
    margin-bottom: 30px;
    justify-content: center;
  }
  

.iconRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  grid-gap: 30px;
  max-width: 800px;
  width: 100%;
  margin-top: 30px;
  align-content: center; /* Adicionando a propriedade align-content */

}

.iconRow img {
  width: 100%;
  height: auto;
  justify-items: center;
}

@media screen and (max-width: 768px) {
  .iconRow {
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    grid-gap: 20px;
  }
}
